@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply border-b-2 border-cyan-400 text-cyan-400;
}

.left-to-right {
  animation: left-to-right 20s infinite linear;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes left-to-right {
  0% { transform: translateX(0px);}
  50% {transform: translateX(480px);}
  100% {transform: translateX(0);}
}

.right-to-left {
  animation: right-to-left 20s infinite linear;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes right-to-left {
  0% { transform: translateX(0);}
  50% {transform: translateX(-480px);}
  100% {transform: translateX(0);}
}

.tag {
  @apply text-sm text-white px-3 py-2 rounded-lg shrink-0;
}

@keyframes drop-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes drop-in-side {
  0% {
    transform: translateX(-200%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.drop-in {
  animation: 0.6s ease-in-out 1 drop-in;
  animation-fill-mode: forwards;

}

.drop-in-words {
  animation: 0.6s ease-out 0s 1 drop-in-side;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}